<%= form_with url: game_start_path, method: :post, id: 'player-names-form', data: { turbo: false } do |f| %>
  <div class="form-group text-white">
    <%= f.label :first_player, "Player 1 Name:" %>
    <%= f.text_field :first_player, class: 'form-control' %>
  </div>
  <div class="form-group text-white">
    <%= f.label :second_player, "Player 2 Name:" %>
    <%= f.text_field :second_player, class: 'form-control' %>
  </div>
  <%= f.submit "Start Game", class: 'btn btn-primary' %>
<% end %>